.border{
    height: 95px;
    width: 600px;
    border: 5px solid blue;
    border-radius: 10%;
    display:-webkit-flex;
    align-items: center;
    margin: auto;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 0;
    padding-right: 0px;
    font-color: #F90716;

}
.font{
    font-color: white;
}
img:hover{
    border: 3px solid white;
}
